{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Products{% endblock %}

{% block head %}
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
    <div class="page-header">
        <a href="{% url 'products:product_add' %}" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span> Add Product
        </a>
        <h1>Products</h1>
    </div>
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="users">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>S.No</th>
                <th>Display Name</th>
                <th>Cost</th>
                <th>Brand</th>
                <th>Option</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ product.display_name }}</td>
                    <td>{{ product.cost }}</td>
                    <td>{{ product.brand }}</td>
                    <td>
                        <a href="{% url 'products:product_update' product.pk %}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                        &nbsp;
                        <a href="{% url 'products:product_delete' product.pk %}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12">
                {% include 'paginator.html' with paginator=products %}
            </div>
        </div>

    </div>
{% endblock main %}
