{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Players{% endblock %}

{% block head %}
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
    <div class="page-header">
        <a href="{# url 'customer_add' #}" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span> Add Player
        </a>
        <h1>Players</h1>
    </div>
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card-body">


                        <div class="panel-body">
                            {% if user_obj %}
                            <div class="col-md-4 text-center col-lg-3">
                                {% if user_obj.image_uri %}
                                <img src="/media_cdn/{{user_obj.image_uri}}" alt="Avatar" class="center" height="150"
                                     width="150">
                                {% else %}
                                <img src="/static/assets/img/default-profile.png" alt="Default" height="100"
                                     width="100">
                                {% endif %}
                            </div>


                            <div class=" col-md-8 col-lg-8">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Country:</td>
                                        <td>{{ user_obj.country.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Team:</td>
                                        <td>{{ user_obj.team.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Name:</td>
                                        <td>{{ user_obj.get_full_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email Id:</td>
                                        <td>{{ user_obj.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Player Type:</td>
                                        <td>{{ user_obj.player_type }}</td>
                                    </tr>
                                    <tr>
                                        <td>Jersy Number:</td>
                                        <td>{{ user_obj.jersy_number }}</td>
                                    </tr>
                                    <tr>
                                        <td>Runs:</td>
                                        <td>{{user_obj.total_runs }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Wickets:</td>
                                        <td>{{ user_obj.total_wickets }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Overs:</td>
                                        <td>{{ user_obj.total_overs }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Maiden Over:</td>
                                        <td>{{ user_obj.total_meadan_overs }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Four:</td>
                                        <td>{{ user_obj.total_fours }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Six:</td>
                                        <td>{{ user_obj.total_sixs }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Fifty:</td>
                                        <td>{{ user_obj.total_fifty }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Hundred:</td>
                                        <td>{{ user_obj.total_hundred }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Man of Match:</td>
                                        <td>{{ user_obj.total_man_of_match }}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <p>No Player Information</p>
                        {% endif %}
                    </div>
{% endblock main %}
