{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<link href="{% static 'css/common.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
<div class="page-header">
    <h1>Dashboard</h1>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h2>Highest Runs</h2></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6" style="border-right:1px solid #ccc;"><h3>{{max_runs_obj.team.name}}</h3></div>
                    <div class="col-xs-6"><h3>{{max_runs_obj.runs}}</h3></div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h2>Most Wickets</h2></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6" style="border-right:1px solid #ccc;"><h3>{{max_wicket_obj.team.name}}</h3>
                    </div>
                    <div class="col-xs-6"><h3>{{max_wicket_obj.wicket}}</h3></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h2>Most Wins</h2></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6" style="border-right:1px solid #ccc;"><h3>{{max_win_obj.0.team.name}}</h3>
                    </div>
                    <div class="col-xs-6"><h3>{{max_win_count}}</h3></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}
